body{
    margin: 0;
}


.MainPage{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;

}

nav{
    width: 100%;
    align-self: flex-start;
    height: fit-content;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: rgb(58, 133, 208);
    color: white;
    background-color: rgb(58, 133, 208);
    border: none;
    align-self: flex-start;
}

nav ul{
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.5em;
    font-family: serif;

}

nav a {
    text-decoration: none;
    color: white;
}


.Main {
    width: 90%;
    margin: auto;
    display: flex;  
    flex-wrap: nowrap;
    border: 1px solid black;
    background-color: rgb(58, 133, 208);
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 1rem;
}

.Main p{
    font-size: 1.25rem;
    font-weight: 300;
}

.mainMe{
    height: auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.mainDetails{
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
justify-content: start;
}

.mainDetails h2{
    font-size: 2rem;
}

#homeUserPic {
    width: 200px;

}

.mainMe p {
    text-align: center;
}
.bioPage{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    min-width: 797px;
}

.bioMain{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-wrap: nowrap;
}
.bioMainMe{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.bioMainMe p {
    font-size: 1.5rem;
}

#bioUserPic {
    height: 300px;
    width: 300px;
}

.bioMain h2 {
    font-size: 2.5rem;
    color: rgb(58, 133, 208);
}
.bioMainDetails{
    width: 80%;
    padding: 2rem;
}

.bioMainDetails h2 {
    font-size: 2rem;
    font-weight: 100

}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }

.card {
    width: 200px;
    height: 250px;
    border: 1px solid  rgb(58, 133, 208);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    background-color: rgb(58, 133, 208);
    color:  rgb(58, 133, 208);
    font-size: 1rem;
    padding: 1rem;}

.skillCard {
    width: 200px;
    height: 250px;
    border: 1px solid  rgb(58, 133, 208);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    color:  rgb(58, 133, 208);
    font-size: 1rem;
    padding: 1rem;
}


.card p {
color: white;    
font-size: 3rem;
    height: fit-content;
}

.card img {
    border-radius: 10px;
}

.expPage{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    min-width: 797px;

}

.ExpMain{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-wrap: nowrap;
}

.expMainMe{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.expMainMe h2{
    font-size: 4rem;
}

.expMainDetils {
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
justify-content: start;
overflow: scroll;
height: 800px;

}

.portMain{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-wrap: nowrap;

}

.portMainMe{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.portMain h2 {
    font-size: 4rem;

}

.portMainDetails {
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
justify-content: start;
overflow: scroll;
height: 800px;
}